<nav class="navbar" #navbar>
  <div class="navbar__container">
    <div class="navbar__container--side left">
      left
    </div>
    <div class="navbar__container--side center">
      {{ theme$ | async }}
    </div>
    <div class="navbar__container--side right">
      <button type="button" (click)="changeTheme()">Cambiar tema</button>
    </div>
  </div>
</nav>

<!-- <button type="button" (click)="changeColor()">Change color</button>

<button type="button" (click)="emitCounterValue()">Emitir valor del contador</button>

<div>
  <h1>Counter value: {{ counter }}</h1>
  <ul>
    <li *ngFor="let change of counterLogList">
      {{ change }}
    </li>
  </ul>
</div> -->
